<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Todo App
        {% endblock %}
    </title>
    <style> 
        body {
            font-family: arial
        }
    </style>
</head>
<body>
    <h1>
        {% block content_title %}
        Bienvenue
        {% endblock %}
    </h1>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>